body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#tree ul,
ul#tree {
  margin: 0 0 0 10px;
  padding: 0;
}
#tree li {
  padding: 5px;
}
#tree li:first-child {
  margin-top: 4px;
}
/*tree styles*/
#tree li span {
  border: 1px solid transparent;
  padding: 4px;
  cursor: pointer;
}
#tree li span.selected {
  border: 1px solid #faa;
  background-color: #fbb;
}
