body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

/*tree styles*/
#tree li
  padding: 4px
  border: 1px solid white

#tree li.selected
  border: 1px solid #faa

