body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
/*tree styles*/
#tree li {
  padding: 4px;
  border: 1px solid #fff;
}
#tree li.selected {
  border: 1px solid #faa;
}
